.exchange {
    max-width: 1200px;
    width: 100%;
    padding: 1em 1em 2em;
}

.sectionHeading {
    text-align: left;
    width: 100%;
    padding: 2em 0 0 0;
    box-sizing: border-box;
}

.selectInput {
    height: 100%;
}

.selectInput > div {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.controlRow {
    padding-top: 3em;
}

.submitButton {
    width: 100%;
}
